/* Scope all styles to the "forgot-password-container" */
.forgot-password-container {
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: auto;
}

.forgot-password-container h1 {
  font-size: 22px;
  color: #343a40;
  margin-bottom: 10px;
}

.forgot-password-container p {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}

.forgot-password-container .input-container {
  text-align: left;
  margin-bottom: 20px;
}

.forgot-password-container .input-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #6c757d;
}

.forgot-password-container .input-container input {
  width: 90%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.forgot-password-container .input-container input:focus {
  border-color: #007bff;
}

.forgot-password-container .btn {
  background-color: #ff9f43;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.forgot-password-container .btn:hover {
  background-color: #ffa857;
}

.forgot-password-container .back-button {
  background: none;
  border: none;
  color: #070707;
  font-size: 20px;
  cursor: pointer;
  margin-right: 400px;
  display: inline-block;
}